
.input1 {
    -webkit-appearance: none;
    background: white;
    outline: none;
    border-radius: 30px;
}

.input2 {
    -webkit-appearance: none;
    background: white;
    outline: none;
    border-radius: 30px;
}